body {
  background-color: lightgray;
}

.heading {
  background-color: salmon;
  border: 1px solid;
  font-family: 'Megrim', cursive;
  font-size: 36px;
  text-align: center;
  border-radius: 20px;
  margin-top: 2%;
  margin-bottom: 2%;
}

div.links {
  display: block;
  font-family: 'Bangers', cursive;
  font-size: 20px;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

a.cat:hover {
  color: blue;
  font-size: 48px;
}

a.dog:hover {
  color: blue;
  font-size: 48px;
}

a.elephant:hover {
  color: blue;
  font-size: 48px;
}

a.penguin:hover {
  color: blue;
  font-size: 48px;
}

.catPic {
  margin: 5%;
  text-align: center;
  display: block;

}

.catPic:hover {
  box-shadow: 10px 5px 5px black;
}

.dogPic {
  margin: 5%;
  text-align: center;
}

.elephantPic {
  margin: 5%;
  text-align: center;
}

.penguinPic {
  margin: 5%;
  text-align: center;
}
